!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "keywords", :content => ""}/
    %meta{:name => "description", :content => ""}/
    %link{:rel => "stylesheet", :href => "style.css", :type => "text/css"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "images/favicon.ico"}/
    %link{:rel => "shortcut icon", :type => "image/png", :href => "images/favicon.png"}/
    %title Right Now: What Are You Doing?

    %script#todo-template(type="text/x-underscore-tmpl")
      %ul
        <% for (var i=0,l=categories.length;i<l;++i) { var ct=categories[i]; %>
        %li(id="cat<%= i %>")
          <%= ct.name %>
          <% if (ct.tasks.length > 0) { %>
          %ul
            <% for (var j=0,m=ct.tasks.length;j<m;++j) { var td=ct.tasks[j]; %>
            %li 
              <%= td %>
            <% } %>
          <% } %>
        <% } %>

  %body
    #content
      #braindiv
        %img(src="brain-in-a-jar.jpg" alt="Your Brain Is Here.  Are You?")
        .msg
          Right now, it&rsquo;s <span id="thetime"></span>.
          %p Is <strong>this</strong></p>
          %p what you want</p>
          %p to be <strong class="doing">doing</strong>
          %p right now?
      #rightnow
        %h3 Wouldn't you <strong>rather</strong> be:
        #todos
  
    %script{:language => "javascript", :type => "text/javascript", :src => "clock.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "lib/json2.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "lib/lawnchair.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "lib/lawnchair-dom.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "lib/lawnchair-indexed-db.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "lib/lawnchair-window-name.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "lib/zepto.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "lib/underscore.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "lib/backbone.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "lib/backbone.lawnchair.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "todo.js"}
