<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="generator" content="HTML Tidy for Linux/x86 (vers 1 September 2005), see www.w3.org" />
<title>Right Now: What Are You Doing?</title>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
<link rel="stylesheet" href="newtype.css" type="text/css" />
</head>
<body>
<div id="guts">

<div style="float: left; width: 360px"><p><img src="brain-in-a-jar.jpg" alt="Your Brain Is Here. Are You?" /></p>
<span style="font-size: 24px; color: rgb(153, 153, 153);">Right now, it&rsquo;s <span id="theTime">05:09:17 pm</span>.</span>
<p style="font-size: 20px; line-height: 120%;">Is <strong>this</strong><br />
what you want<br />
to be <strong style="color: rgb(204, 0, 0);">doing</strong><br />
right now?</p></div>

<div style="margin-left: 365px; width: 360px"><p style="font-size: 20px; line-height: 120%;">Wouldn't
you <span style="font-weight: bold;">rather</span> be:<br />

<ul><li><span style="font-size: 20px; line-height: 120%;">Writing:</span><ul>
<li>The <em>Heroine Souls</em> episodes</li>
<li><em>Toby and Kasserine</em></li>
<li><em>Boy from Brazil</em></li>
<li><em>Princess Jera</em></li>
<li><em>Wet Angels</em></li>
<li><em>Falling Star</em></li>
<li><em>Janae</em></li>
<li><em>Moon, Sun, Dragons</em></li>
<li><em>Rome</em></li>
</ul></li>
<li><span style="font-size: 20px; line-height: 120%;">Programming:</span><br />
<ul>
<li>Consilience</li>
<li>Erotica Online</li>
<li>Live Elephant</li>
<li>Stuff</li>
<li>Kodanshi</li>
</ul></li>

<li><span style="font-size: 20px; line-height: 120%;">Playing:</span>
<ul><li>With your family</li>
<li>In your garden</li>
</ul></li></ul>
</div>
</div>
<!-- /guts -->
<script src="clock.js" type="text/javascript"></script>
</body>
</html>
