!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "keywords", :content => ""}/
    %meta{:name => "description", :content => ""}/
    %link{:rel => "stylesheet", :href => "style.css", :type => "text/css"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "images/favicon.ico"}/
    %link{:rel => "shortcut icon", :type => "image/png", :href => "images/favicon.png"}/
    %title Right Now: What Are You Doing?

  %body
    #content
      #braindiv
        #img
        #msg
          Right now, it&rsquo;s <span id="thetime"></span>.
          %p Is <strong>this</strong></p>
          %p what you want</p>
          %p to be <strong class="doing">doing</strong>
          %p right now?
      .clearoncolumn
      #rightnow
        #newcat
          %h1 Wouldn't you <strong>rather</strong> be: 
          <button class="fadebutton" id="addcat" style="display: none">+ New Category</button>
        .div(style="clear:both")
        #todos
  
    %script{:language => "javascript", :type => "text/javascript", :src => "clock.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "lib/json2.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "lib/lawnchair.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "lib/lawnchair-dom.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "lib/lawnchair-indexed-db.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "lib/lawnchair-window-name.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "lib/zepto.js"}
    %script{:language => "javascript", :type => "text/javascript", :src => "todo.js"}
