*{border:0;margin:0;padding:0;}
body{margin:.25in .75in .25in 1.5in;font:13pt/190% Calibri,Georgia,"Lucida Bright",Lucidabright,"Bitstream Vera Serif",serif;background-color:#fff;}
p,th,td,li,ul,ol{color:#333333;margin:0;padding:0;}
p{padding-bottom:1em;}
blockquote{margin:15px 30px 0 10px;padding-left:20px;border-left:5px solid #ddd;}
/* text indent for Ps */
/*
p + p,ul + p,ol + p{text-indent:3em;text-transform:inherit;}
*/
h1,h2,h3,h4,h5,h6{font-family:"Helvetica Neue",Helvetica,Verdana,"Bitstream Vera Sans",Arial,Tahoma,sans-serif;/* 
font-family:Georgia,"Lucida Bright",Lucidabright,"Bitstream Vera Serif",serif;color:#333;font-weight:bold;line-height:120%;margin:.5em 0 0 0;padding:0;*/}
h1{font-size:1.7em;margin:0;padding:.5em 0;border-top:7px solid #333;border-bottom:1px solid #999;}
h2{font-size:1.5em;margin-bottom:0em;margin-top:.5em;border-top:3px solid #333;padding:.25em 0;}
h3{font-size:1.1em;}
h4{font-size:1.0em;}
/* #guts h2:first-letter{font-family:"Edwardian Script ITC","Edwardian Script ITC Semi-Expanded","Zapfino","Viner Hand ITC";font-size:180%;line-height:36px;}
*/
ul,ol{margin-left:3em;}
ul + p,ol + p{margin-top:1em;}
hr{border:0;width:98%;color:#999;background-color:#eee;height:1px;margin:10px 0;}
.photoframe{padding:5px;background-color:#eee;border-color:#ccc;border-width:1px;border-style:solid;color:#333;margin:15px 0px 10px 15px;}
